#colonnaCentrale {
  background-color: #c9ad47;
}

/* INIZIO DIV GIALLO */
#divGiallo {
  height: 32%;
  padding: 20px;
  align-content: start;
}

#headerDivGiallo {
  height: 40px;
}

#cardTopRight {
  border-radius: 10%;
  /* CAMBIARE QUESTA WIDTH PER LA CARD IN ALTO A DESTRA */
  width: 200px;
  height: fit-content;
  padding: 2px;
  border-radius: 50px;
}

#imgTopRight {
  width: 25px;
  border-radius: 50%;
}

#album {
  height: fit-content;
}

#albumText {
  width: 100%;
}

#imgAlbum {
  width: 220px;
  height: 220px;
  margin-top: 20px;
  margin-right: 20px;
}

#titoloAlbum {
  color: white;
  font-size: 70px;
  margin-bottom: 20px;
}

#imgYellowBottom {
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
/* FINE DIV GIALLO */

/* INIZIO DIV NERO */
#divNero {
  background: linear-gradient(
    0deg,
    rgb(15, 15, 15) 84%,
    hsla(0, 0%, 100%, 0) 100%
  );
  padding: 20px;
}

#albumIconsDiv {
  margin-bottom: 15px;
}

#albumIconsDiv a {
  margin-right: 18px;
}

#playButton {
  color: #18cf58;
}

table {
  width: 100%;
}

#primaRigaTabella {
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}

.primaCol {
  text-align: center;
  width: 5%;
}

.secondaCol {
  text-align: start;
  width: 35%;
}

.terzaCol {
  text-align: end;
  width: 30%;
}

.quartaCol {
  text-align: end;
  width: 30%;
  padding-right: 50px;
}
