@import './scss/functions';
@import './scss/variables';

@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

/*  FINE FONT */

$big-s: $font-size-base * 5;
$big: $font-size-base * 4;
$h7-font-size: $font-size-base * 0.8;
$h8-font-size: $font-size-base * 0.6;
$h9-font-size: $font-size-base * 0.4;
$h10-font-size: $font-size-base * 0.2;

$new-font-sizes: (
  'big-s': $big-s,
  'big': $big,
  7: $h7-font-size,
  8: $h8-font-size,
  9: $h9-font-size,
  10: $h10-font-size,
);

$font-sizes: map-merge($font-sizes, $new-font-sizes);

#font {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}

$link-decoration: none;

$new-primary: #20d760;
$new-dark: #111111;
$dark-light: #323232;
$dark-unlight: #171717;

$new-theme-colors: (
  'primary': $new-primary,
  'dark': $new-dark,
  'dark-light': $dark-light,
  'dark-unlight': $dark-unlight,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

$component-active-bg: $new-primary;

$input-placeholder-color: rgb(150, 150, 150);

$form-range-track-height: 0.4rem;
$form-range-track-bg: $dark-light;
$form-range-thumb-width: 0.4rem !default;

#prima-parte-home {
  box-shadow: inset 200px -150px 300px 50px rgba(0, 0, 0, 1);
}

ul {
  list-style-type: none;
}

ul li {
  color: white;
}

ul a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

i {
  font-size: 25px;
  margin-right: 10px;
  color: white;
}

#lista-podcast li {
  margin: 8px 0;
  font-size: 16px;
  color: rgb(102, 102, 102);
}

p {
  color: white;
}

#cont-gen {
  padding-bottom: 120px;
  background-color: black;
}

/* INIZIO DIV GIALLO */
#headerDivGiallo {
  height: 40px;
}

#cardTopRight {
  border-radius: 10%;
  /* CAMBIARE QUESTA WIDTH PER LA CARD IN ALTO A DESTRA */
  width: 200px;
  height: fit-content;
  padding: 2px;
  border-radius: 50px;
}

#imgTopRight {
  width: 25px;
  border-radius: 50%;
}

#album {
  height: fit-content;
}

#albumText {
  width: 100%;
}

#titoloAlbum {
  color: white;
}

#imgYellowBottom {
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
/* FINE DIV GIALLO */

/* INIZIO DIV NERO */
#divNero {
  background: linear-gradient(
    0deg,
    rgb(15, 15, 15) 84%,
    hsla(0, 0%, 100%, 0) 100%
  );
  padding: 20px;
}

#albumIconsDiv {
  margin-bottom: 15px;
}

#albumIconsDiv a {
  margin-right: 18px;
}

table {
  width: 100%;
}

#primaRigaTabella {
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}

.primaCol {
  text-align: center;
  width: 5%;
}

.secondaCol {
  text-align: start;
  width: 35%;
}

.terzaCol {
  text-align: end;
  width: 30%;
}

.quartaCol {
  text-align: end;
  width: 30%;
  padding-right: 50px;
}

#footer-sfumato {
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 0%, 1) 32%,
    rgba(0, 0, 0, 0.834) 67%,
    rgba(0, 0, 0, 0.288) 100%
  );
}

#footer-mobile {
  max-width: 95%;
}

.vinile-statico {
  width: 40px;
}

.vinile {
  animation: spin 7s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottoni-album {
  background-color: transparent;
  text-align: left;
  padding: 0;
  font-weight: bold;
  border: none;
}

.bottoni-album,
.artisti-album {
  color: rgba(255, 255, 255, 0.787);
}

/* .bottoni-album:focus {
  color: #20d760;
} */

.bottoni-album:hover,
.artisti-album:hover {
  color: white;
}

.nav-disabled {
  opacity: 0.4 !important;
  pointer-events: none !important;
  cursor: default !important;
}

.buonasera-hover {
  background-color: $dark-light;
}

.buonasera-hover:hover {
  background-color: rgba(255, 255, 255, 0.354);
  transform: scale(1);
  transition: scale 0.2s;
  scale: 1.03;
}

.altro-hover {
  background-color: $dark-unlight;
}

.altro-hover:hover {
  background-color: $dark-light;
  transform: scale(1);
  transition: scale 0.2s;
  scale: 1.03;
}

.album-elenco-hover:hover,
.album-elenco-hover:focus-within {
  background-color: rgba(255, 255, 255, 0.085);
  transform: scale(1);
  transition: scale 0.2s;
  scale: 1.02;
}

.artist-elenco-hover:hover,
.artist-elenco-hover:focus-within {
  background-color: rgba(255, 255, 255, 0.201);
  transform: scale(1);
  transition: scale 0.2s;
  scale: 1.03;
}

.gradation {
  background-image: linear-gradient(0deg, #000000, #444444c0, #40404036);
}

@import './scss/bootstrap.scss';
