@import './scss/functions';
@import './scss/variables';

@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

/*  FINE FONT */

$h7-font-size: $font-size-base * 0.8;
$h8-font-size: $font-size-base * 0.6;
$h9-font-size: $font-size-base * 0.4;
$h10-font-size: $font-size-base * 0.2;

$new-font-sizes: (
  7: $h7-font-size,
  8: $h8-font-size,
  9: $h9-font-size,
  10: $h10-font-size,
);

$font-sizes: map-merge($font-sizes, $new-font-sizes);

#font {
  font-family: 'Circular';
  src: url(./fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

ul li {
  color: white;
}

ul a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

i {
  font-size: 25px;
  margin-right: 10px;
  color: white;
}

#lista-podcast li {
  margin: 8px 0;
  font-size: 16px;
}

p {
  color: white;
}

@import './scss/bootstrap.scss';
